<div class="container">
<% if @areas.any? %>
  <% @areas.each do |area| %>
    <div class="row">
      <div class="col-md-12"><h4><%= link_to area.postcode, area_path(area) %></h4></div>
    </div>
    <div class="row">
      <div class="col-md-4">Rent per month</div>
      <div class="col-md-4">Initial cost of buying the property</div>
      <div class="col-md-4">Net yield</div>
    </div>
    <% area.properties.each do |property| %>
      <div class="row">
        <div class="col-md-4">£<%= property.rent %></div>
        <div class="col-md-4">£<%= property.investment %></div>
        <div class="col-md-4"><%= property.net_yield %>%</div>
      </div>
    <% end %>
  <% end %>
<% else %>
  <p>No Listings yet</p>
<% end %>
</div>
<div class="container">
  <div class="new_property">
    <%= link_to 'New property?', new_area_path, class: "btn btn-primary btn-sm" %>    
  </div>
</div>